<nav class="navbar shadow-sm fixed-top py-2 bg-body-tertiary border-bottom">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
        <li class="nav-item"><a href="https://www.jovian.ai" class="nav-link link-body-emphasis px-2 active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="https://www.jovian.ai/courses" class="nav-link link-body-emphasis px-2">Courses</a></li>
        <li class="nav-item"><a href="https://www.jovian.ai/events" class="nav-link link-body-emphasis px-2">Events</a></li>
        <li class="nav-item"><a href="https://www.jovian.ai/about" class="nav-link link-body-emphasis px-2">FAQs</a></li>
        <li class="nav-item"><a href="https://www.jovian.ai/about" class="nav-link link-body-emphasis px-2">About</a></li>
      </ul>
      <ul class="nav">
        <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">Login</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">Sign up</a></li>
      </ul>
    </div>
  </nav>
  <div style = "height: 60px"></div>